@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@keyframes flutuar{
  0%{
    transform:translate(-50%,0);
  }
  50%{
    transform: translate(-50%,10px);
  }
  100%{
    transform:translate(-50%,0);
  }

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #050505;
}
/*  /   /   /   Header  /   /   /   */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background:linear-gradient(to bottom, rgba(0,0,0,0.90), rgba(0,0,0,0.70));
  transition: 0.4s;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid #7DFF4D;
  box-shadow:0 2px 18px rgba(125, 255, 77, 0.25) ;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.5s;
}

.header.ativo{
  transform: translateY(0);
  opacity: 1;
}


.header .scrool {
  height: 70px;
  background: #111;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7DFF4D;
}

.logo img {
  width: 80px;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu a {
  position: relative;
  color: white;
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;

  transition: color .3 ease;
}

menu a::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: #7DFF4D;
  border-radius: 50px;
  transition: .35s ease;
  transform: translateX(-50px);
}

.menu a:hover {
  color: #7DFF4D;
}

.menu a:hover::after{
  width: 100%;
}

.conta button {
  background: #7DFF4D;
  font-family: "Manrope",sans-serif;
  color: #111;
  height: 40px;
  border: none;
  padding: 0px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.conta button:hover {
  background: #93FF6B;
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(125, 255, 77, 0.45);
}

main {
  margin-top: 110px;
 background: linear-gradient(
  to bottom,
  #050505,
  #0d0d0d,
  #12210d,
  #050505
 );
}
/*  /   /   /   HERO  /   /   /   */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content{
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .55);
  z-index: 0;
}

.logo-hero{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 420px;
}

.scrool {
  position:absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  color:white;
  font-size:18px;
  animation: flutuar 2s infinite;
}

.subtitulo{
  font-family: "orbitron", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: 15px;
  position: absolute;
  top:62%;
  left: 50%;
  transform: translateX(-50%);

}

/*    /     /     /       /       /     CARDS E CARROSSEL \   \       \       \       */


.novidades{
  width: 100%;
  padding: 100px 8%;
}

.titulo-novidades{
  text-align: center;
  margin-bottom: 60px;
}

.titulo-novidades h2{
  color: white;
  font-size: 42px;
}

.titulo-novidades p{
  color: #bcbcbc;
  margin-top: 10px;
}

.card-noticia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
  background: linear-gradient(
    145deg,
    #111,
    #181818
  ); 
  border-radius: 20px;
  padding: 40px;
  border-left: 5px solid #59ff59;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}

.card-noticia::before{
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: #59ff59;
  filter:blur(120px);
  opacity:0.15;
  right:-100px;
  top:-100px;
}

.card-noticia:hover{
  transform: translateY(-8px);
}

.texto-noticia {
  width: 45%;
}

.texto-noticia h3{
  color: white;
  font-size: 34px;
  margin-bottom: 20px;
}

.texto-noticia p{
  color: #cfcfcf;
  line-height: 1.8;
}

.texto-noticia a{
  color: #59ff59;
  text-decoration: none;
  font-weight: bold;
}

.imagem-noticia{
  width: 55%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.imagem-noticia::before{
  content: "";
  position: absolute;
  width:280px;
  height: 280px;
  background: #59ff59;
  border-radius: 50%;
  filter:blur(100px);
  opacity: 0.18;
  z-index: 0;
  right: 20%;
  top: 20%;
}

.imagem-noticia img{
  width: 120%;
  max-width: none;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  transition: 0.5s ease;
  filter:drop-shadow(0 0 30px rgba(89,255,89,.25))
}

.card-noticia:hover .imagem-noticia img{
  transform: scale(1.05)
  translateY(-5px);
}

.tag-lancamento{
  color:#59ff59;
  font-size: 14px;
  font-weight:bold;
  letter-spacing: 2px;
}

.btn-noticia{
  display: inline-block;
  margin-top: 30px;
  padding: 12px 25px;
  border: 1px solid #59ff59;
  border-radius: 30px;
  color:#59ff59;
  transition: .3s;
}

.btn-noticia:hover{
  background: #59ff59;
  color: #000;
}

/*  /   /   /   Indicadores /   /   /   /   */

.indicadores{
  display: flex;
  gap:12px;
  align-items: center;
}

.indicador{
  width:12px;
  height:12px;
  border: none;
  border-radius: 50%;
  background: #555;
  cursor: pointer;
  transition: .3s;
}

.indicador:hover{
  background: #59ff59;
  transform: scale(1.2);
}

.indicador.ativo{
  width:35px;
  border-radius: 20px;
  background: #59ff59;
}

.btn-anterior,.btn-proximo{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: #181818;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: .3s;
}

.btn-anterior:hover,.btn-proximo:hover{
  background: #59ff59;
  color:#000;
  transform: scale(1.08);
}

.controles-carrossel{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-top: 40px;
}