@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@keyframes flutuar{
  0%{
    transform:translate(-50%,0);
  }
  50%{
    transform: translate(-50%,10px);
  }
  100%{
    transform:translate(-50%,0);
  }

}
@keyframes aparecerIcone{

    from{
      opacity: 0;
      transform: rotate(-90deg) scale(.5);
    }

    to{
      opacity: 1;
      transform:rotate(0) scale(1);
    }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #050505;
}
/*  /   /   /   Header  /   /   /   */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background:linear-gradient(to bottom, rgba(0,0,0,0.90), rgba(0,0,0,0.70));
  transition: 0.4s;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid #7DFF4D;
  box-shadow:0 2px 18px rgba(125, 255, 77, 0.25) ;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.5s;
}

.header.ativo{
  transform: translateY(0);
  opacity: 1;
}


.header .scrool {
  height: 70px;
  background: #111;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}


.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7DFF4D;
}



.logo img {
  width: clamp(55px, 8vw, 80px);
  height: auto;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;

  transition: color .3s ease, transform .3s ease;
}

.menu a::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: #7DFF4D;
  border-radius: 50px;
  transition: .35s ease;
  transform: translateX(-50%);
}

.menu a:hover {
  color: #7DFF4D;
  transform: translateY(-2px);
}

.menu a:hover::after{
  width: 100%;
}
.menu-cliente{
  display: none;
}
/*.conta button {
  background: #7DFF4D;
  font-family: "Manrope",sans-serif;
  color: #111;
  height: 40px;
  border: none;
  padding: 0px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.conta button:hover {
  background: #93FF6B;
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(125, 255, 77, 0.45);
}
*/
.btn-cliente{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;

  padding: 14px 22px;
  background: #59ff59;
  color: #111;

  border: none;
  border-radius: 14px;
  font-family: "Sora",sans-serif;
  font-size: .95rem;
  font-weight: 600;

  cursor: pointer;
  transition: all .3s ease;

  box-shadow: 0 8px 20px rgba(89,255,89,.18);
}

.btn-cliente i{
  width: 18px;
  height: 18px;
}

.btn-cliente:hover{
  background: #68ff68;
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(89,255,89,.35);
}

.btn-cliente:active{
  transform: scale(.97);
}

main {
  margin-top: 110px;
 background: linear-gradient(
  to bottom,
  #050505,
  #0d0d0d,
  #12210d,
  #050505
 );
}
/*  /   /   /   HERO  /   /   /   */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content{
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .55);
  z-index: 0;
}

.logo-hero{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: clamp(220px, 35vw, 420px);
}

.scrool {
  position:absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  color:white;
  font-size:18px;
  animation: flutuar 2s infinite;
}

.subtitulo{
  font-family: "orbitron", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: 15px;
  position: absolute;
  top:62%;
  left: 50%;
  transform: translateX(-50%);

}

/*    /     /     /       /       /     CARDS E CARROSSEL \   \       \       \       */


.novidades{
  width: 100%;
  padding: 100px 8%;
}

.titulo-novidades{
  text-align: center;
  margin-bottom: 60px;
}

.titulo-novidades h2{
  color: white;
  font-size: 42px;
}

.titulo-novidades p{
  color: #bcbcbc;
  margin-top: 10px;
}

.trocando{
 opacity: 0;
 transform: translateY(15px);
}

.card-noticia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
  background: linear-gradient(
    145deg,
    #111111,
    #1a1a1a
  ); 
  border: 1px solid rgba(255,255 ,255,.05);
  border-radius: 20px;
  padding: 40px;
  border-top: 1px solid rgba(89,255,89,.6);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45), inset 0 0 0 1px rgba(255,255 ,255,.02);
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}

.card-noticia::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(255,255 ,255,.05), transparent 35% );
  pointer-events: none;
}
.card-noticia::before{
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  right: -120px;
  top:-120px;
  border-radius: 50%;
  background: #59ff59;
  filter:blur(130px);
  opacity:0.12;
  pointer-events:none;
}

.card-noticia:hover{
  transform: translateY(-8px);
}

.texto-noticia {
  width: 45%;
}

.texto-noticia h3{
  font-family: "Sora", sans-serif;
  font-weight: 700;
  margin-top: 18px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.5px;
}

.texto-noticia p{
  font-family: "Sora", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  color: #b8b8b8;
  line-height: 1.9;
  font-size: 1.05rem;
  max-width: 520px;
}

.texto-noticia a{
  font-family: "Sora",sans-serif;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.imagem-noticia{
  width: 55%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.imagem-noticia::before{
  content: "";
  position: absolute;
  width:280px;
  height: 280px;
  background: #59ff59;
  border-radius: 50%;
  filter:blur(100px);
  opacity: 0.18;
  z-index: 0;
  right: 20%;
  top: 20%;
}

.imagem-noticia img{
  width: 100%;
  max-width: 700px;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  transition: 0.5s ease;
  filter:drop-shadow(0 0 30px rgba(89,255,89,.25))
}

.card-noticia:hover .imagem-noticia img{
  transform: scale(1.05)
  translateY(-5px);
}

.tag-lancamento{
  font-family: "Sora",sans-serif;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 999px;
  background: rgba(89,255,89,.12);
  border: 1px solid rgba(89,255,89,.35);
  color:#59ff59;
  font-size: .8rem;
  font-weight:600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-noticia{
display: inline-flex;
align-items: center;
gap: 10px;
margin-top: 35px;
padding: 14px 24px;
border-radius: 12px;
background: #59ff59;
color: #000;
font-weight: 700;
text-decoration: none;
transition: .3s;
}

.btn-noticia:hover{
 transform: translateY(-3px);
 box-shadow: 0 10px 25px rgba(89,255,89,.35);
}

/*  /   /   /   Indicadores /   /   /   /   */

.indicadores{
  display: flex;
  gap:12px;
  align-items: center;
}

.indicador{
  width:12px;
  height:12px;
  border: none;
  border-radius: 50%;
  background: #555;
  cursor: pointer;
  transition: .3s;
}

.indicador:hover{
  background: #59ff59;
  transform: scale(1.2);
}

.indicador.ativo{
  width:35px;
  border-radius: 20px;
  background: #59ff59;
  box-shadow: 0 0 12px rgba(89,255,89,.5);
}

.btn-anterior,.btn-proximo{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: #181818;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: .3s;
}

.btn-anterior:hover,.btn-proximo:hover{
  background: #59ff59;
  color:#000;
  transform: scale(1.08);
}

.controles-carrossel{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-top: 20px;
}

.menu-overlay{
  display: none;
}

.tag-lancamento,
.texto-noticia h3,
.texto-noticia p,
.imagem-noticia img{

  transition: .3s ease;
}



/*  /   /   /   /   Menu Hamburguer /   /   /   /   */

.menu-mobile{
  display: none;
  width: 48px; 
  height: 48px;
  align-items: center;
  justify-content: center;
  background:rgba(89,255,89,.08);
  border: 1px solid rgba(89,255,89,.35);
  border-radius: 14px;
  cursor: pointer;
  color:#59ff59;
  transition: .3s ease;
  backdrop-filter: blur(10px);

}

.menu-mobile i{
  width: 26px;
  height: 26px;
  stroke-width: 2.5;
}

.menu-mobile:hover{
  background: rgba(89,255,89,.18);
  box-shadow: 0 0 20px rgba(89,255,89,.35);
  transform: translateY(-2px);
}

.menu-mobile:active{
  transform: scale(.92);
}

.icone-menu{
  animation:aparecerIcone .25s ease;
}

body.menu-aberto{
  overflow: hidden;
}


/*  /   /   /   /   Produtos    /   /   /   /   */

.produtos{
  width:100%;
  padding: 120px 8%;
}

.titulo-produtos{
  text-align: center;
  max-width: 720px;
  margin:0 auto 70px;
}

.tag-produtos{
  display:inline-block;
  color:#59ff59;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .8rem;
  font-weight: 700;
}

.titulo-produtos h2{
  margin-top:20px;
  color: #fff;
  font-size: 3rem;
  line-height:1.2;
}

.titulo-produtos p{
  margin-top:20px;
  color:#b8b8b8;
  line-height:1.8;
  font-size: 1.05rem;
}

.titulo-produtos::after{
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background: #59ff59;
  margin: 35px auto 0;
  border-radius: 20px;
}



.card-produto{
background:linear-gradient(
  145deg,
  #111111,
  #1a1a1a
);
border-radius: 24px;
overflow:visible;
border-top: 4px solid #59ff59;
transition: .4s ease;
position: relative;
display: flex;
flex-direction: column;
min-height: 540px;
}

.badge-produto{
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 18px;
  background: #111111;
  border:1px solid rgba(89,255,89,.25);
  z-index:10;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  transform: rotate(-8deg);
}

.icone-badge{
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background: #59ff59;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: .9rem;
}

.badge-produto span{
  color: #59ff59;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-produto:hover::before{
  box-shadow: 0 0 18px rgba(89,255,89,.7)
}

.card-produto:hover{
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .35);
}

.card-produto:hover img{
  transform: scale(1.05);
}

.card-produto:hover .badge-produto{
  transform:translateX()
}

.card-produto::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #59ff59;
}

.imagem-produto{
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  height:240px;
  overflow: hidden;
}

.imagem-produto::before{
  content:"";
  position:absolute;
  width:250px;
  height:250px;
  background: #59ff59;
  filter: blur(90px);
  opacity:.18;
  border-radius:50%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagem-produto img{
  width:100%;
  height: 100%;
  object-fit: contain;
  transition: .5s;
  position: relative;
  z-index: 2;
}

.btn-card{
  display:inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Sora",sans-serif;
  font-size: .95rem;
  font-weight: 600;
  color: #59ff59;
  text-decoration: none;
  transition: .3s;
  margin-top: 25px;
  align-self: flex-start;
}

.btn-card:hover{
  gap:14px;
  color:#7DFF4D
}

.conteudo-produto{
  padding:28px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid rgba(255,255 ,255,.08);
}

.conteudo-produto h3{
  margin-bottom: 18px;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color:#fff;
  line-height:1.2;
}

.conteudo-produto p{
  font-family:"Sora", sans-serif;
  max-width: 90%;
  font-size: 1rem;
  font-weight: 400;
  color: #b8b8b8;
  margin-bottom: 30px;
  flex: 1;
  line-height: 1.8;
}
/* Botão */

.texto-item.invertido{
  flex-direction:row-reverse;
}

.grid-produtos{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:35px;

}

/*  /   /   /   /   Responsividades /   /   /   /   */

@media (max-width:1200px){
  .card-noticia{
    padding: 40px;
    gap: 40px;
  }
}

@media (max-width:992px){
  .texto-noticia h3{
    font-size: 2rem;
  }
  .texto-noticia p{
    font-size: 1rem;
  }
  
}

@media (max-width:768px){
  
  .menu-cliente{
    display: flex;
    padding: 40px;
    padding-top:0;
  }

  .menu-cliente .btn-cliente{
    width:100%;
    justify-content: center;
  }
  
  .menu{
    position: fixed;
    top: 65px;
    right: 0;
    width: 280px;
    height: calc(100vh - 65px);
    background: rgba(5,5,5,.95);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(89,255,89,.3);
    transform: translateX(100%);
    transition: .4s ease;
    display: block;
    z-index: 999;
  }

  .menu ul{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 40px;
  }

  .menu li{
    border-bottom: 1px solid rgba(89,255,89,.15);
    opacity: 0;
    transform: translateX(30px);
    transition: .4s ease;
  }

  .menu.ativo li{
    opacity: 1;
    transform: translateX(0);
  }

  .menu.ativo li:nth-child(1){
    transition-delay: .1s;
  }

  .menu.ativo li:nth-child(2){
    transition-delay: .2s;
  }

   .menu.ativo li:nth-child(3){
    transition-delay: .3s;
  }

  .menu.ativo li:nth-child(4){
    transition-delay: .4s;
  }

  .menu a{
    font-size: 20px;
  }

  .menu.ativo{
    transform: translateX(0);
  }

  .menu-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .6);
    pointer-events: none;
    z-index: 998;
    opacity: 0;
    transition: .3s;
    display: block;
  }

  .menu-overlay.ativo{
    opacity: 1;
    pointer-events: auto;
    z-index: -2;
  }

  .card-noticia{
    flex-direction: column;
    text-align: center;
    padding:35px;
    gap:35px;
  }
  .texto-noticia,.imagem-noticia{
    width: 100%;
  }
  .texto-noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texto-noticia p{
    max-width: 100%;
  }
  .imagem-noticia img{
    max-width: 400px;
    width: 100%;
  }

  .header{
    padding: 0 20px;
  }

  .logo img{
    width: 65px;
  }

  .btn-noticia{
    justify-content: center;
  }
  .menu{
    display: block;
  }
  .conta{
    display: none;
  }
  .menu-mobile{
    display: flex;
  }

}

@media (max-width:576px){
  .novidades{
    padding: 70px 5%;
  }
  .titulo-novidades{
    margin-bottom: 40px;
  }
  .titulo-novidades h2{
    font-size:2rem;
  }
  .titulo-novidades p{
    font-size:.95rem;
  }
  .card-noticia{
    padding: 25px;
    gap: 30px;
    border-radius: 18px;
  }
  .texto-noticia p{
    font-size: .95rem;
    line-height: 1.8;
  }
  .tag-lancamento{
    font-size: .75rem;
    padding: 5px 12px;
  }
  .imagem-noticia img{
    max-width: 300px;
  }
  .btn-noticia{
    width: 100%;
    justify-content: center;
    padding: 16px;
  }
  .controles-carrossel{
    gap: 20px;
    margin-top: 20px;
  }
  .btn-anterior, .btn-proximo{
    width: 45px;
    height: 45px;
  }

  .subtitulo{
    width: 90%;
    text-align: center;
    font-size:11px;
    letter-spacing: 3px;
    line-height:1.8;
  }

}

@media (max-width:400px){
  .novidades{
    padding: 60px 4%;
  }
  .card-noticia{
    padding: 20px;
    gap:25px;
  }
  .titulo-novidades h2{
    font-size: 1.8rem;
  }
  .texto-noticia p{
    font-size: .9rem;
    line-height: 1.7;
  }
  .imagem-noticia img{
    max-width: 260px;
  }
  .btn-noticia{
    font-size: .95rem;
    padding: 14px;
  }
  .tag-lancamento{
    font-size: .7rem;
    letter-spacing: 1px;
  }

  .header{
    padding: 0 15px;
  }
  .logo img{
    width: 55px;
  }

}

@media (max-width:360px){
.card-noticia{
  padding: 18px;
}
.titulo-novidades h2{
  font-size: 1.6rem;
}
.texto-noticia h3{
  font-size: 1.4rem;
}
.imagem-noticia img{
  max-width: 220px;
}
.btn-noticia{
  padding: 12px;
  font-size: .9rem;
}

.logo img{
  width: 50px;
}

.logo-hero{
  width: 200px;
}
.subtitulo{
  font-size: 10px;
  letter-spacing: 2px;
}

}
